<footer layout="row">
    <div class="div-footer" style="color: #1C3D69">
        <div class="div-grid"> 
            <div class="div-logo div-pb" >
                <img class="img-logo" src="../../../assets/IMG_8855.PNG">
            </div>  
            <span class="div-pb" style="width: 90%;">
                <b>Estou dedicada a ajudar você a alcançar seu bem-estar emocional e mental
                    através de uma abordagem personalizada e integrativa. Utilizando técnicas de psicanálise e hipnose,
                    ofereço um ambiente de apoio onde você pode explorar suas preocupações e encontrar caminhos para uma vida mais plena e equilibrada.
                    Meu objetivo é facilitar seu processo de cura e autodescoberta.
                </b>
            </span>
            <div class="div-pb">
                <mat-icon class="icon-calculo">call</mat-icon>
                <span style="position: absolute">(71) 99211-7598</span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo">mail</mat-icon>
                <span style="position: absolute">wsvercosa@gmail.com</span>
            </div> 
            <div class="div-pb">
                <mat-icon class="icon-calculo">location_on</mat-icon>
                <span style="position: absolute">	
                    R. ESTRADA 25, 14 - JARDIM LIMOEIRO, CAMAÇARI - BA
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem;font-size: 22px;">Especialidades</span>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRATAMENTO DE DEPRESSÃO
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRATAMENTO DE ANSIEDADE
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    TRANSTORNOS DE HUMOR
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    RELACIONAMENTOS
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    SEXUALIDADE
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    AUTOCONHECIMENTO
                </span>
            </div>
            <div class="div-pb">
                <mat-icon class="icon-calculo-2">psychology</mat-icon>
                <span style="position: absolute; margin-top: 5px;">	
                    OUTROS
                </span>
            </div>
        </div>
        <div class="div-grid">
            <span style="padding-bottom: 2rem; font-size: 22px;">Contato</span>
            <div class="form-container">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <input style="padding-bottom: 0.5rem;" type="text" id="name" formControlName="name"
                        placeholder="Seu nome">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                        <small class="error">O campo é obrigatório.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="email" id="email" formControlName="email"
                        placeholder="Seu e-mail">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('email')?.errors?.['email']">Email inválido.</small>
                    </div>

                    <input style="padding-bottom: 0.5rem;" type="tel" id="number" formControlName="number"
                        placeholder="Seu WhatsApp">
                    <div style="padding-bottom: 0.5rem;display: flex;"
                        *ngIf="contactForm.get('number')?.invalid && contactForm.get('number')?.touched">
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['required']">O campo é
                            obrigatório.</small>
                        <small class="error" *ngIf="contactForm.get('number')?.errors?.['pattern']">Formato de número
                            inválido.</small>
                    </div>

                    <textarea style="padding-bottom: 0.5rem;" id="message" formControlName="message" rows="8"
                        placeholder="Mensagem"></textarea>
                    <div style="display: flex;margin-top: -11px;margin-bottom: 1rem;" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                        <small class="error">Mensagem é obrigatória.</small>
                    </div>

                    <button type="submit">Enviar Mensagem</button>
                </form>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 1rem; padding-top: 2rem;color: #1C3D69" >
        <span class="spam-flex-justify" >
            © 2024. Todos os Direitos Reservados.
        </span>
    </div>
  </footer>