<div class="links-page">
  <div class="links-container">
    
    <div class="profile-header">
      <div class="profile-avatar">
        <img src="assets/erica1.jpg" alt="Erica Martins">
      </div>
      <h1 class="profile-name">Erica Martins</h1>
      <p class="profile-subtitle">Terapeuta Transpessoal & Holística</p>
      <p class="profile-instruction">Escolha um dos caminhos abaixo para iniciarmos a sua jornada de cuidado e autoconhecimento.</p>
    </div>

    <div class="links-actions">
      
      <a href="https://wa.me/71992886118" target="_blank" class="link-btn btn-highlight">
        <i class="pi pi-whatsapp"></i>
        <span>Agende sua terapia!</span>
      </a>

      <a href="https://www.youtube.com/@ericamartinsterapeuta" target="_blank" class="link-btn">
        <i class="pi pi-youtube"></i>
        <span>Canal YouTube</span>
      </a>

      <a href="https://www.ericamartinsterapeuta.com.br/" class="link-btn">
        <i class="pi pi-globe"></i>
        <span>Acesse nosso Site</span>
      </a>
      
    </div>

  </div>
</div>