<div class="div-body">
    <div class="display-mobile">
        <div style="width: 100%;">
            <span>
                <img class="image-container" src="../../../assets/outer-space-background.jpg">
            </span>
        </div>
    </div>
    <div class="text-name">
        <div class="div-calculo-dose-2">
            <span class="spam-flex-justify name-home">SOBRE</span>
            <hr class="style-hr">
        </div>
    </div>

    <div class="div-sobre div-curva">
        <div class="text-container div-info" style="color: #1C3D69;">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px;">SOBRE ERICA MARTINS</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>
            <div class="p-text-info">
                <p class="no-margin"><b>Formação</b></p>
                <ul style="padding-left: 14px;">
                    <li>Profissional Nível 2 em <em>Ressonância Psicoterapêutica®️</em> pelo Instituto Idalino</li>
                    <li>Pós-Graduada em Sexologia pela Faculdade <em>IBRA de Brasília</em></li>
                    <li>Profissional de Barra de Access pelo <em>Access Consciousness</em></li>
                    <li>Master Practitioner em Hipnose e Programação Neurolinguística pelo <em>Arcadia Institute e The
                            American Board of Hypnotherapy</em></li>
                    <li>Graduada em Psicanálise Clínica pelo <em>Instituo SEPHIA (Sociedade de Estudos Psicanalíticos e
                            Hipnose Aplicada)</em></li>
                    <li>Graduada em Serviço Social pela <em>UNIUBE (Universidade de Uberaba)</em></li>
                </ul>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Apresentação pessoal</b></p>
                <p>
                    Sou Waleska Silveira, psicanalista e hipnoterapeuta, especialista em sexualidade e neurociência, com
                    vasta experiência em atendimento clínico.
                    Minha paixão é guiar pessoas em suas jornadas de autoconhecimento e transformação pessoal.
                    Meu trabalho é focado em promover a saúde mental e o bem-estar emocional. Utilizo técnicas
                    inovadoras e eficazes para tratar uma ampla gama de questões
                    psicológicas e emocionais.
                </p>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Explorando o inconsciente com a Psicanálise</b></p>
                <p>
                    A psicanálise é uma jornada fascinante ao inconsciente, onde estão nossas verdadeiras motivações,
                    desejos e medos.
                    Por meio dessa abordagem terapêutica, ajudamos a trazer à tona esses elementos ocultos que
                    influenciam nossos comportamentos e emoções.
                    Esse processo de descoberta e compreensão promove mudanças profundas e duradouras.
                </p>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Sua Jornada de Autoconhecimento</b></p>
                <p>
                    O autoconhecimento é um dos caminhos mais poderosos para a transformação pessoal e emocional.
                    Quando nos conhecemos verdadeiramente, somos capazes de entender nossas reações,
                    tomar decisões mais conscientes e viver de forma mais plena e autêntica.
                    Minha abordagem combina a psicanálise com terapias complementares, como a hipnose e a ressonância
                    psicoterapêutica, proporcionando uma experiência de cura e um crescimento que abrange todos os
                    aspectos da sua vida – mental, emocional, físico e espiritual.
                </p>
            </div>
            <div class="p-text-info">
                <p class="no-margin pb"><b>Minha missão como Psicanalista</b></p>
                <p>
                    Minha missão é promover seu bem-estar emocional e mental, criando um espaço acolhedor e seguro
                    para que você possa explorar seu interior e descobrir suas verdadeiras capacidades.
                    Ao embarcar nessa jornada de autoconhecimento, quero que você sinta confiança e curiosidade.
                    Juntos, podemos identificar e superar os obstáculos que impedem seu crescimento, utilizando
                    as melhores ferramentas terapêuticas disponíveis.
                    Seja através da psicanálise ou da hipnose clínica, minha abordagem é sempre personalizada para
                    atender às suas necessidades específicas, ajudando você a alcançar uma vida mais plena, equilibrada
                    e satisfatória.
                    Deseja iniciar sua jornada de autoconhecimento e transformação pessoal? Marque sua consulta agora
                    mesmo e dê o primeiro
                    passo para uma vida mais plena e equilibrada.
                </p>
            </div>
            <div class="div-button" style="width: 100%;">
                <div class="card-button "
                    style="display: flex; background-color: #1C3D69;justify-content: space-evenly; height: 4rem;">
                    <div class="div-flex-center marg-icon-wpp">
                        <mat-icon svgIcon="whatsapp" class="icon-wpp"></mat-icon>
                    </div>
                    <div class="div-flex-center marg-text-wpp">
                        <p class="div-calculo-dose-cards text-wpp" style="font-size: 12px;" (click)="whatsapp()">AGENDE
                            SUA CONSULTA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container2 div-foto">
            <img src="./../../assets/erica1.jpg">
        </div>
    </div>
    <div class="div-especialidade">
        <div class="text-container div-info" style="color: #1C3D69">
            <div style="padding-bottom: 1rem;">
                <p class="name-home no-margin" style="font-size: 25px;">MINHAS ESPECIALIDADES</p>
                <hr class="style-hr" style="margin-top: 0; margin-left: 0;">
            </div>
            <div class="p-text-info">
                <ul style="font-size: 20px; line-height: 28px; padding-left: 14px;">
                    <li>Profissional Nível 2 em <em>Ressonância Psicoterapêutica®️</em> pelo Instituto Idalino</li>
                    <li>Pós-Graduada em Sexologia pela Faculdade <em>IBRA de Brasília</em></li>
                    <li>Profissional de Barra de Access pelo <em>Access Consciousness</em></li>
                    <li>Master Practitioner em Hipnose e Programação Neurolinguística pelo <em>Arcadia Institute e The
                            American Board of Hypnotherapy</em></li>
                    <li>Graduada em Psicanálise Clínica pelo <em>Instituo SEPHIA (Sociedade de Estudos Psicanalíticos e
                            Hipnose Aplicada)</em></li>
                    <li>Graduada em Serviço Social pela <em>UNIUBE (Universidade de Uberaba)</em></li>
                </ul>
            </div>
        </div>
        <div class="image-container3 div-foto">
            <img style="transform: rotate(-19deg); border:none;" src="./../../assets/borboletaspng.png">
        </div>
    </div>
    <div class="div-consultorio" style="background-color: white; color: #1C3D69;">
        <div>
            <div>
                <span class="spam-flex-justify name-consul">CONSULTÓRIO</span>
                <hr class="style-hr">
            </div>
            <div class="image-consul">
                <div class="image-container2 div-foto">
                    <img src="./../../assets/consutorio2.jpeg">
                </div>
                <div class="image-container2 div-foto">
                    <img src="./../../assets/consultorio1.JPG">
                </div>
                <div class="image-container2 div-foto">
                    <img src="./../../assets/consultorio3.JPG">
                </div>
            </div>
            <!-- <div>
                <div >
                    <app-carousel [slides]="slides"></app-carousel>
                </div>
            </div> -->
        </div>
    </div>

</div>