/* 1. Tema do PrimeNG (Cores e visual dos componentes) */
@import "primeng/resources/themes/lara-light-blue/theme.css";

/* 2. Estilos base do PrimeNG */
@import "primeng/resources/primeng.min.css";

/* 3. Ícones */
@import "primeicons/primeicons.css";

/* 4. PrimeFlex (Sistema de Grid e Utilitários) */
@import "primeflex/primeflex.css";

/* --- SEUS ESTILOS GLOBAIS --- */
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; /* O PrimeNG usa a fonte padrão do sistema, fica bem clean */
    background-color: var(--surface-ground); /* Cor de fundo suave padrão */
}

